{% extends 'layouts/base.html' %}

{% block content %}

    <div class="row title">
        <h2>New Question</h2>
        <h4 style="color: red">Incorrect tag values! (or probably sth else is wrong...)</h4>
    </div>
    <form>
        <div class="mb-3">
            <label for="questionTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="questionTitle"
                   placeholder="Title..." required>
        </div>
        <div class="mb-3">
            <label for="questionText" class="form-label">Text</label>
            <textarea class="form-control" id="questionText" rows="8" placeholder="Type here..."
                      required></textarea>
        </div>
        <div class="mb-3">
            <label for="questionTags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="questionTags"
                   placeholder="Tags...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
{% endblock %}