{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="row title">
        <div class="titles">New Questions
            <a href="{% url 'hot' %}" style="font-size: 15pt; padding-left: 15px;">Hot topics</a>
            <a role="button" class="btn btn-success"
               href="{% url 'ask' %}" style="margin-left: 20px">ASK!!</a>
        </div>
    </div>

    {% for question in questions %}

        {% include 'components/question_item.html' %}

    {% endfor %}

    <div class="container_pagination">
        {% include 'components/pagination_item.html' %}
    </div>

{% endblock %}