{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="row title">
        <div class="titles">New Questions
            <a href="{% url 'hot' %}" style="font-size: 15pt; padding-left: 15px;">Hot topics</a>
        </div>
    </div>

    {% for question in items %}

        {% include 'components/question_item.html' %}

    {% endfor %}

    <div class="container_pagination">

        {% include 'components/pagination_item.html' %}

    </div>

{% endblock %}