{% extends 'layouts/base.html' %}

{% block content %}

    {% include 'components/current_question_item.html' %}

    <hr>

    {% for answer in answers %}

        {% include 'components/answer_item.html' %}

    {% endfor %}

    {% if answers|length == 0 %}

        Empty here...  Just for now

    {% endif %}

    <hr>

    <div class="row my_answer">
        <div class="mb-3">
            <label for="questionText" class="form-label">Your answer</label>
            <textarea class="form-control" id="questionText" rows="4" placeholder="Type here..."></textarea>
            <button type="submit" class="btn btn-primary mb-3" style="margin-top: 15px">Submit</button>
        </div>
    </div>

{% endblock %}