{% extends 'layouts/base.html' %}

{% block content %}

    <h2>Registration</h2>
    <h4 style="color: red">Sorry, the email address is already registered!</h4>
    <form style="padding-top: 20px">
        <div class="input-group mb-3">
            <label for="InputLogin" class="form-label">Login</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Login"
                       aria-describedby="basic-addon1" id="InputLogin" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="input-group mb-3">
            <label for="InputNickname" class="form-label">Username</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your very cool Username!"
                       aria-label="Nickname" aria-describedby="basic-addon1" id="InputNickname" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" required>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="InputPassword" required>
        </div>
        <div class="input-group mb-3">
            <label class="form-label" for="inputGroupFile01">Your avatar</label>
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile01" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Let's go!</button>
    </form>

{% endblock %}