<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>My Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/bootstrap.bundle.js"></script>
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header class="p-3 mb-3 border-bottom">>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="margin-left: 100px"> VK-Overflow </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="" id="navbarCollapse">
                <form class="d-flex" style="width: auto; min-width: 50%; margin-left: 80px">
                    <input class="form-control me-2" type="search" placeholder="Type here..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="text-end" style="margin-right: 115px">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-8">
                <h2>Registration</h2>
                <h4 style="color: red">Sorry, the email address is already registered!</h4>
                <form style="padding-top: 20px">
                    <div class="input-group mb-3">
                        <label for="InputLogin" class="form-label">Login</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Login"
                                   aria-describedby="basic-addon1" id="InputLogin">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="InputNickname" class="form-label">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your very cool Username!"
                                   aria-label="Nickname" aria-describedby="basic-addon1" id="InputNickname">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="InputPassword">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Repeat password</label>
                        <input type="password" class="form-control" id="InputPassword">
                    </div>
                    <div class="input-group mb-3">
                        <label class="form-label" for="inputGroupFile01">Your avatar</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile01">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Let's go!</button>
                </form>
            </div>

            <div class="col-4">
                <div class="row tags-description">
                    <h1 style="margin-top: 20px;">Popular tags</h1>
                    <div class="tags" style="">
                        <button type="button" class="btn btn-primary">Python</button>
                        <button type="button" class="btn btn-secondary">Kotlin</button>
                        <button type="button" class="btn btn-success">Django</button>
                        <button type="button" class="btn btn-danger">Jojo</button>
                        <button type="button" class="btn btn-warning">SHAMAN</button>
                    </div>
                    <br/>
                    <h2>Best users</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Mr. Freeman</a></li>
                        <li class="list-group-item"><a href="">Gojo Satoru</a></li>
                        <li class="list-group-item"><a href="">Jotaro Kujo</a></li>
                        <li class="list-group-item"><a href="">Morgenshtern</a></li>
                        <li class="list-group-item"><a href="">Saul Goodman</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2023 Dimochka, Inc</p>
        </footer>
    </div>
</footer>

</body>
</html>
