<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>My Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/bootstrap.bundle.js"></script>
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header class="p-3 mb-3 border-bottom">>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="margin-left: 100px"> VK-Overflow </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="" id="navbarCollapse">
                <form class="d-flex" style="width: auto; min-width: 50%; margin-left: 80px">
                    <input class="form-control me-2" type="search" placeholder="Type here..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown text-start" style="margin-right: 115px">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-8">
                <div class="row title">
                    <div class="titles">Tags:
                        <a href="" style="font-size: 15pt; padding-left: 15px;">bender</a>
                    </div>
                </div>

                <div class="row question">
                    <div class="col-2"> <!-- аватарка и лайки -->
                        <div class="row-9">
                            <img src="../static/img/heisenberg.jpg" class="img-fluid" alt="Responsive image">
                            <a href="">user 1</a>
                        </div>
                        <div class="row-3">
                            <div class="like-container">
                                <button class="like-button">+</button>
                                <span class="like-count">2</span>
                                <button class="dislike-button">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-10"> <!-- вопрос -->
                        <div class="row-10">
                            <div class="question-title"><a href=""> First question </a></div>
                            <div class="question-text">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </div>
                        </div>

                        <div class="row-2">
                            <div class="row">
                                <div class="col-sm-4"><a href="">answers (3)</a></div>
                                <div class="col-sm-8">Tags: <a href="">black-jack</a> <a href="">bender</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row question">
                    <div class="col-2"> <!-- аватарка и лайки -->
                        <div class="row-9">
                            <img src="../static/img/heisenberg.jpg" class="img-fluid" alt="Responsive image">
                            <a href="">user 2</a>
                        </div>
                        <div class="row-3">
                            <div class="like-container">
                                <button class="like-button">+</button>
                                <span class="like-count">3</span>
                                <button class="dislike-button">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-10"> <!-- вопрос -->
                        <div class="row-10">
                            <div class="question-title"><a href=""> Second question </a></div>
                            <div class="question-text">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </div>
                        </div>

                        <div class="row-2">
                            <div class="row">
                                <div class="col-sm-4"><a href="">answers (3)</a></div>
                                <div class="col-sm-8">Tags: <a href="">black-jack</a> <a href="">bender</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row question">
                    <div class="col-2"> <!-- аватарка и лайки -->
                        <div class="row-9">
                            <img src="../static/img/heisenberg.jpg" class="img-fluid" alt="Responsive image">
                            <a href="">user 3</a>
                        </div>
                        <div class="row-3">
                            <div class="like-container">
                                <button class="like-button">+</button>
                                <span class="like-count">4</span>
                                <button class="dislike-button">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-10"> <!-- вопрос -->
                        <div class="row-10">
                            <div class="question-title"><a href=""> Third question </a></div>
                            <div class="question-text">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived
                                not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </div>
                        </div>

                        <div class="row-2">
                            <div class="row">
                                <div class="col-sm-4"><a href="">answers (3)</a></div>
                                <div class="col-sm-8">Tags: <a href="">black-jack</a> <a href="">bender</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container_pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>


            <div class="col-4">
                <div class="row tags-description">
                    <h1 style="margin-top: 20px;">Popular tags</h1>
                    <div class="tags" style="">
                        <button type="button" class="btn btn-primary">Python</button>
                        <button type="button" class="btn btn-secondary">Kotlin</button>
                        <button type="button" class="btn btn-success">Django</button>
                        <button type="button" class="btn btn-danger">Jojo</button>
                        <button type="button" class="btn btn-warning">SHAMAN</button>
                    </div>
                    <br/>
                    <h2>Best users</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">Mr. Freeman</a></li>
                        <li class="list-group-item"><a href="">Gojo Satoru</a></li>
                        <li class="list-group-item"><a href="">Jotaro Kujo</a></li>
                        <li class="list-group-item"><a href="">Morgenshtern</a></li>
                        <li class="list-group-item"><a href="">Saul Goodman</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2023 Dimochka, Inc</p>
        </footer>
    </div>
</footer>

</body>
</html>
