{% load static %}

<nav aria-label="Page navigation example">
    {% if items.has_other_pages %}
        <ul class="pagination">
            {% if items.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            {% for curr_page in items.paginator.page_range %}
                {% if items.number == curr_page %}
                    <li class="page-item"><a class="page-link" href="#">{{ curr_page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ curr_page }}">{{ curr_page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
