{% load static %}

<div class="row question">
    <div class="col-2"> <!-- аватарка и лайки -->
        <div class="row-9">
            <img src="{% static '/img/heisenberg.jpg' %}" class="img-fluid" alt="Responsive image">
            <a href="">user {{ question.id }}</a>
        </div>
        <div class="row-3">
            <div class="d-inline-flex" style="align-items: center;">
                <button type="button" class="like-button btn btn-outline-primary"
                        style="width: 25px; margin: 0;">+
                </button>
                <span class="like-count" style="margin: 3px;">{{ question.likes }}</span>
                <button type="button" class="like-button btn btn-outline-danger"
                        style="width: 25px; margin: 0;">-
                </button>
            </div>
        </div>
    </div>
    <div class="col-10"> <!-- вопрос -->
        <div class="row-10">
            <div class="question-title">
                <a href="{% url 'question' question_id=question.id %}"> {{ question.title }} </a>
            </div>
            <div class="question-text">
                {{ question.content }}
            </div>
        </div>

        <div class="row-2">
            <div class="row">
                <div class="col-sm-4"><a href="{% url 'question' question_id=question.id %}">
                    answers ({{ question.answers }})</a></div>

                {% if question.tags.all|length == 0 %}

                    Wow... No tags...

                {% else %}

                    <div class="col-sm-8">Tags:
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>